<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wintone.site">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".SiteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/splash_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/splash_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activity.FaceCheckActivity"
            android:launchMode="singleTop"
            android:theme="@style/BaseAppTheme"/>
        <activity
            android:name=".ui.activity.ProjectSwitchActivity"
            android:theme="@style/BaseAppTheme"/>
        <activity
            android:name=".ui.activity.SystemSettingActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".ui.activity.FaceAttendanceActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".ui.activity.FeedBackActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".ui.activity.AboutCompanyActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".ui.activity.PersonSingleActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".ui.activity.PersonDetailsActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".ui.activity.PersonInfoActivity"
            android:theme="@style/BaseAppTheme" />
        <activity android:name=".ui.activity.ScanCamera" />
        <activity
            android:name=".ui.activity.BankInfoActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".ui.activity.FacePreViewActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".ui.activity.IdCardBackInfoActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".ui.activity.IdCardInfoActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".ui.activity.ModifyPasswordActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"
            android:theme="@style/LoginAppTheme"/>
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:theme="@style/BaseAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/LoginAppTheme" />
        <activity
            android:name=".ui.activity.TableFlagActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
    </application>

</manifest>